.card, .card-header {
    background-color: white !important;
    border: none;
    padding: 0 !important;
}

.card {
    box-shadow: 0 2px 25px 0 rgba(110, 130, 208, .18) !important;
    margin-bottom: 1.5%;
}

.card-body {
    background: #e8eeff;
}

.accordian {
    padding: 15px;
}

.card-body {
    color: rgb(47, 47, 47);
    font-weight: 500 !important;
    font-size: 18px;
}

.card-h {
    padding-left: 0.5%;
    width: 1000px;
    color: rgb(47, 47, 47);
    font-size: 20px;
    font-weight: 600 !important;
}


.btn-linkk {
    height: 60px;
    width: 100%;
    color: #000 !important;
    font-weight: bold !important;
    text-align: left !important;
    text-decoration: none !important;
}

.btn-linkk:after {
    content: '\2212';
    text-align: center;
    width: 35px;
    font-size: 25px;
    border-radius: 5px;
    right: 15px;
    top: 11px;
    position: absolute;
    background: #e8eeff;
}

body {
    width: 99%;
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(18,16,78,1) 0%, rgba(72,32,114,1) 100%) fixed;
}

.btn-linkk.collapsed:after {
    content: '\002B';   
}

.list-h {
    font-size: 22px;
    font-weight: 600 !important;
    text-align: center;
}

.text-muted {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.list-group-item.active {
    background-color: #4742C2;
    border-color: #4742C2;
}

.list-group {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
