body {
    width: 99%;
	background: linear-gradient(180deg, rgb(239, 76, 35) 0%, rgb(83, 20, 20) 0%, rgb(204, 68, 68) 100%) fixed;
}

.btn-md {
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 6px;
}

.footerP {
    font-size: 15px;
}

.btn-m {
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 7px;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Thin.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url(../fonts/Roboto-Regular.ttf);
    font-style: normal;
}

.btn-purple {
    font-weight: 700;
    background-color: rgb(71, 66, 194);
    color: white;
    border-color: rgb(71, 66, 194);
}

.btn-outline-light {
    font-weight: 700;

    color: white;
    border-color: #5BC5F9;
}

.btn-outline-light:hover { 
    font-weight: 700;

    background-color: #5BC5F9;
    color: white;
    border-color: #5BC5F9;
}

.btn-purple:hover { 
    border-color: rgb(60, 56, 165); 
    background-color: rgb(60, 56, 165); 
    color: white;
}

.badge-bot {
    width: 100px;
    height: 25px;
}

body {
    color: white;
}

a:link {
    text-decoration: none !important;
} 

.home-image {
    width: 300px;
    height: 300px;
}

h1 {
    font-size: 65px;
    font-weight: 600;
    font-family: 'roboto-bold';
}

p {
    font-size: 25px;
    font-weight: 600 !important;
    font-family: 'roboto';
}

.widget {
    width: 20%;
    height: 20%;
}
